html {
	font-family: sans-serif;
}

.background {
	background-color: #ccc;
}

.background-medium {
	background-color: #ddd;
}

.background-light {
	background-color: #eee;
}

h1 {
	text-align: center;
}

.nav a, .footer a {
	text-decoration: none;
}

.img-flex {
	width: 100%;
	display: block;
}

.nav a:hover {
	color: #fff;
	background-color: blue;
}

a {
	color: blue;
}

.footer li {
	display: inline-block;
}

.footer ul {
	text-align: center;
}

@media only screen and (min-width: 25em) {

.nav li{
  display: inline-block;
}

.nav ul {
  text-align: center;
}

}

@media only screen and (min-width: 38em) {

.nav ul{
  text-align: left;
}

h1 {
	text-align: left;
}

}

@media only screen and (min-width: 60em) {

}
