@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	margin: 0;
}

.background {
	background-color: #ccc;
}

.background-medium {
	background-color: #ddd;
}

.background-light {
	background-color: #eee;
}

.nav li{
	list-style-type: none;
}
.nav{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.nav a{
	display: block;
	text-decoration: none;
}

.nav ul{
	padding: 0;
	text-decoration: none;
}

.img-flex {
	width: 100%;
	display: block;
}

a:hover {
	color: #fff;
	background-color: blue;
}

a {
	color: blue;
}

@media only screen and (min-width: 25em) {

.nav li{
  display: inline-block;
}

.nav ul {
  text-align: center;
}

}

@media only screen and (min-width: 38em) {

.nav ul{
  text-align: left;
}

h1 {
	text-align: left;
}

}

@media only screen and (min-width: 60em) {

}
